*~
*#
*.o
*.a
*.cmi
*.cmo
*.cmx
*.cma
*.cmxa
*.cmxs
*.cmt
*.cmti
*.conflicts
*.byte
*.opt
*.annot
depend
lexer.ml
parser.ml
parser.mli

_build/

result\.html

tests/\.DS_Store

src/\.DS_Store

projet-tas\.iml

\.vscode/launch\.json

\.idea/

\.DS_Store
